In [1]:
import findspark
findspark.init()

In [2]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Running SQL queries").getOrCreate()

In [3]:
df = spark.read\
    .option("inferSchema", "true")\
    .option("header","true")\
    .csv("D:\\code\\spark\\spark-basics\\data\\flight-data\\csv\\2010-summary.csv")
df.count()

255

In [4]:
df.createOrReplaceTempView("flights")

In [6]:
spark.sql("select count(*) from flights").show()

+--------+
|count(1)|
+--------+
|     255|
+--------+

In [7]:
spark.sql("select * from flights limit 5").show()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
+-----------------+-------------------+-----+

In [10]:
spark.sql("""select *, 
     CASE 
     WHEN DEST_COUNTRY_NAME = ORIGIN_COUNTRY_NAME THEN true 
     ELSE false END as same_country  
     from flights limit 5""").show()

+-----------------+-------------------+-----+------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|same_country|
+-----------------+-------------------+-----+------------+
|    United States|            Romania|    1|       false|
|    United States|            Ireland|  264|       false|
|    United States|              India|   69|       false|
|            Egypt|      United States|   24|       false|
|Equatorial Guinea|      United States|    1|       false|
+-----------------+-------------------+-----+------------+

In [15]:
spark.sql("""select * from flights 
where count = (select max(count) from flights)""").show()

+-----------------+-------------------+------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME| count|
+-----------------+-------------------+------+
|    United States|      United States|348113|
+-----------------+-------------------+------+

In [18]:
spark.sql("""select avg(count) as avg_flights_from_usa from flights 
where DEST_COUNTRY_NAME != 'United States' 
and ORIGIN_COUNTRY_NAME = 'United States' """).show()

+--------------------+
|avg_flights_from_usa|
+--------------------+
|  301.10483870967744|
+--------------------+

In [23]:
df2 = spark.sql("""select *, 
     CASE 
     WHEN DEST_COUNTRY_NAME = ORIGIN_COUNTRY_NAME THEN true 
     ELSE false END as same_country  
     from flights""")

In [24]:
df2.show(3)

+-----------------+-------------------+-----+------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|same_country|
+-----------------+-------------------+-----+------------+
|    United States|            Romania|    1|       false|
|    United States|            Ireland|  264|       false|
|    United States|              India|   69|       false|
+-----------------+-------------------+-----+------------+
only showing top 3 rows